include setup.py MANIFEST.in
include LICENSE NOTICE README.rst

recursive-include jsoneditor/ *py

recursive-include jsoneditor/static/css/ *css
recursive-include jsoneditor/static/img/ *gif *png
recursive-include jsoneditor/static/js/ *js

recursive-include jsoneditor/templates/ *html

